<div class="container mt-5">
    <div class="card text-center" style="padding: 20px; color:  red">
        <h1>About the Project</h1>
        <div class="text-center mt-4" style="color: black">
            <h5>Its a End to End Role based project which calculate Tax of User based on the Zone and State.</h5>
            <div class="card mt-4 centerForm d-flex" style="background-color: aliceblue;">
                <h4 class="mb-2">Technology Used</h4>
                <h6>Backend => Spring boot</h6>
                <h6>Frontend => Angular</h6>
                <h6>Database => PostgreSql</h6>
                <h6>Authentication => JWT</h6>
                <h6>Testing => Junit5</h6>
            </div>
            <h5 class="mt-4">Other feather include implementation of Loggers, Form Validation, Backend Data Validation,
                Token based Access Authorization, etc</h5>
        </div>
    </div>
</div>