<div class="container mt-5">
    <div class="card text-center" style="padding: 20px;">
        <table class="table table mt-2">
            <tbody>
                <tr>
                    <td>User Name</td>
                    <td>{{userName}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{userFirstName}}</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>User</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>