<div class="container mt-4" id="main-container">
   <div class="card">
      <div class="container-fluid">
         <h3 class="text-center mt-2"> State List</h3>
         <div>
            <button *ngIf="userService.roleMatch(['Admin'])" (click)="clickAddState()" type="button" data-toggle="modal"
               data-target="#exampleModal" class="btn btn-success">Add State</button>
         </div>
         <div class="card-body">
            <table class="table table-striped mt-2">
               <thead>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Tax Percentage</th>
                  <th *ngIf="userService.roleMatch(['Admin'])">Action</th>
               </thead>
               <tbody>
                  <tr *ngFor="let state of states">
                     <td> {{state.id}} </td>
                     <td> {{state.name}} </td>
                     <td> {{state.taxPercentage}}</td>
                     <td>
                        <button *ngIf="userService.roleMatch(['Admin'])" (click)="onEdit(state)" class="btn btn-info"
                           type="button" data-toggle="modal" data-target="#exampleModal">Edit</button>
                        <button *ngIf="userService.roleMatch(['Admin'])" (click)="deleteState(state)"
                           class="btn btn-danger mx-2">Delete</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" *ngIf="showAdd" id="exampleModalLabel">Add State</h5>
            <h5 class="modal-title" *ngIf="showUpdate" id="exampleModalLabel">Edit State</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form [formGroup]="formValue">
               <div class="form-group">
                  <label for="stateName">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="stateName" aria-describedby="name">
               </div>
               <div class="form-group">
                  <label for="stateTaxPercentage">Tax Percentage</label>
                  <input type="number" formControlName="taxPercentage" class="form-control" id="stateTaxPercentage">
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" *ngIf="showAdd" (click)="postStateDetails()" class="btn btn-primary">Add</button>
            <button type="button" *ngIf="showUpdate" (click)="updateState()" class="btn btn-primary">Update</button>
         </div>
      </div>
   </div>
</div>