/* You can add global styles to this file, and also import other style files */


body {
    margin-top: 20px;
}

.list-group {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    flex-wrap: wrap;
    /* padding: 10px   */
}

.hello {
    display: grid;
    place-items: center;
}

body {
    background-color: aliceblue;
}

.centerForm {
    display: flex;
    justify-content: center;
    padding: 20px;
}